**/config/classlist.xml
**.dep
**.prn
**.manifest
**.dbg
**.exe
**.log
**/IdeSrc/*
**/LoginEncryptionKey.inc
Demo/Programs/**.dll
**/AppHtml/CssThemes/Df_*
**/AppHtml/DfEngine
**/AppHtml/web.config
**/AppHtml/global.asa